body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  background: url(http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Cartoons-PNG/Tom_and_Jerry_Free_PNG_Clip_Art_Image.png?m=1447961995) no-repeat;
  background-size:cover;
}

h1 {
  color: #737b7f;
  font-size: 12px;
  margin: 0;
}

h2 {
  background: #0b3a52;
  border: 3px solid #0b3b51;
  width: 250px;
  margin: 10px auto;
  color: #fff;
}

h3 {
  color: #fafbf6;
  margin: 0;
  padding: 0;
}

button {
  background: #1ebab2;
  border: 3px solid #00B0A9;
  padding: 2px 18px;
  font-family: 'Holtwood One SC', serif;
  color: #fff;
  font-size: 18px;
}

ul.grid {
  margin: 10px auto;
  text-align: center;
  padding: 0;
  width: 800px;
  height: 800px;
}

li {
     border-radius:50%;
  /*width: 96px;
  height: 96px;
  line-height: 96px;*/
  list-style-type: none;
  float: left;
  float: left;
  margin: 1px;
  border: 1px solid #e2e2e2;
  font-family: 'Holtwood One SC', serif;
  font-size: 65px;

}

.trump, .hilary {
  font-size: 65px;
  position: relative;
  top: 20px;
}

.t { background: #f05a59; color: #ed1f24; }
.h { background: #328aca; color: #0e5ca7; }
.trump { color: #0e5ca7; }
.hilary { color: #ed1f24; }
.clear { background: white; }
