body {
  text-align: center;
}

main {
  background: purple;
  	
}


ul {

  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

li {
   border-radius:50%;
   background: #000;
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index:1;

}

.mole {
  background: url("http://www.clker.com/cliparts/G/1/i/k/N/j/rat.svg") no-repeat;
  background-size: 50%;
  z-index:2;
}

.mole.up{


}

.scores{
  margin: 0 auto;
   float: left;
      display: inline-block;
}
