body {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

main {
  background-size:cover;
  position: relative;
}

.board {
  margin: 20px auto;
  padding: 0;
  width: 400px;
  height: 400px;
  text-align: center;
}

.square {
  border-radius: 60%;
  background: #000;
  list-style-type: none;
  border: 1px solid #000;
  box-sizing: border-box;
  float: left;
  color: white;
}
